html{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: aqua;
    
}

h1, h2, h3, h4{
    font-family: 'Nunito Sans', sans-serif;
    
}

p{
    font-family: 'Ranchers', cursive;
    
}