html{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: aqua;
    
}

h1, h2, h3, h4{
    font-family: 'Nunito Sans', sans-serif;
    
}

p{
    font-family: 'Ranchers', cursive;
    margin-bottom: 20px;
}

img{
    max-width: 7em;
}

li:last-child{
    background-color: blueviolet;
}

li{
    margin-bottom: 10px;
}



.link{
float: left;
margin-top: -35px;
margin-left: 150px;
}

/* Det er en dårlig løsning fordi den er hardcodet med px, og fordi float kun skal bruges til at få tekst til at floate omkring et billede. */